[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zstandard = "*"
tqdm = "*"
ujson = "*"
fasttext = "*"
pandas = "*"
snudown = {path = "./../../snudown"}
somajo = "*"
someweta = "*"

[dev-packages]

[requires]
python_version = "3.8"
